body{
	background: #000000;  
	background: -webkit-linear-gradient(to right, #434343, #000000);  
	background: linear-gradient(to right, #434343, #000000);
	font-family: 'Comic Neue', cursive;
}

h1{
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: white;
	border-radius: 2px;
	background: #c31432;  
	background: -webkit-linear-gradient(to right, #240b36, #c31432);  
	background: linear-gradient(to right, #240b36, #c31432);
	padding: 5px;
	margin: 0;
}

ul{
	list-style: none;
	padding: 0;
	margin : 0 0;
	color: #302a2a;
}

li{
	line-height: 25px;
	background-color: #cdcdc7;
}

li:nth-child(2n){
	background-color: white;
}

li:hover .del{
	width: 30px;
	opacity: 1.0;
}

input{
	width: 100%;
	color: #a62339;
	font-size: 18px;
	padding: 10px 15px;
	box-sizing: border-box;
	border : 1px solid rgba(0,0,0,0);
	outline: none;
}

input:focus{
	border : 2px solid #a62339;
}


#add{
	float: right;
	margin-right: 5px;
	color: white;
}

#container{
	width: 400px;
	margin: 100px auto;
	border-radius: 10%;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.completed{
	text-decoration: line-through;
	color: gray;
}

.task{
	margin-left: 10px;
}



.del{
	width :0;
	height:100%;
	background-color: #db2124;
	color: #fff;
	text-align: center;
	display: inline-block;
	padding: 0 5px;
	transition: 0.3s linear;
	opacity: 0;
}



